{% extends 'base.html.twig'%}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}
	<div class="container mb-4">
		<div class="row">
			<h1 class="text-center my-4">Jeux appartenant à la catégorie :
				{{ category.name }}</h1>
			<div class="row">
				{% for game in category.games %}
					<div class="card mx-3" style="width: 18rem;">
						<div class="card-head p-2">
							<h3 class="card-title">{{ game.title }}</h3>
						</div>
						<div class="card-body">
							<img src="{{ asset('uploads/' ~ game.picture) }}" class="card-img-top">
							<p class="card-text">{{ game.description }}</p>
							<a href="{{ path('app_show_game', {id: game.id}) }}" class="card-link">Card link</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
