{% extends 'base.html.twig'%}

{% block title %}
	{{ game.title }}
{% endblock %}

{% block body %}
	<div class="container mb-4">
		<div class="row">
			<h1 class="mt-4 text-center">{{ game.title }}</h1>
			<img src="{{ asset('uploads/' ~ game.picture) }}" class="w-50 mx-auto">
			<div>
				{% for cat in game.categories %}
					<a href="{{ path('app_show_category', {id: cat.id}) }}" class="badge rounded-pill text-bg-dark mb-2">{{ cat.name }}</a>
				{% endfor %}
			</div>
			<p>{{ game.description }}</p>
		</div>
	</div>
{% endblock %}
